*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#index {"https://comm
    background-image: url(index.jpg);
    background-size: cover;
}
header{
    background-color: coral;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header nav{width: 70%;}
header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
main{
    height: 90vh;
}