* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, header, main{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    height: 100vh;
    background-color: #3c8080;
}

.main{
    height: 50vh;
    width: 40vw;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h2{
    height: 25%;
    width: 100%;
    background-color: #D8ECEF;
    text-align: center;
    font-size: 36px;
    padding-top: 40px;
    border-radius: 10px 10px 0 0;
}
form {
    width: 72%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 36px;
    margin-top: 26px;
}
form input {
    height: 50px;
    width: 100%;
    font-size: 20px;
}
form input[type="checkbox"]{
    height: 20px;
    width: 20px;
    margin: 0 0 -15px 15px;
}
form input[type="submit"]{
    width: 150px;
    height: 34px;
    border-radius: 10px;
    background-color: #D8ECEF;
    font-size: 16px;
}
form div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
form label{font-size: 26px}